.about-description__content {
  display: flex;
}

.about-description .img-container {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin-right: 50px;
  overflow: hidden;
}

.about-description img {
  position: relative;
  right: 400px;
  bottom: 200px;
}

.about_technologies__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_technologies__icons div {
  width: 10vw;
  text-align: center;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.about_technologies__icons div * {
  display: block;
}

.about_technologies__icons svg {
  margin: auto;
  font-size: 48px;
}
