.about-description__content {
  display: flex;
}

.about-description .img-container {
  flex-shrink: 0;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  margin-right: 50px;
  overflow: hidden;
}

.about-description img {
  position: relative;
  width: 100%;
}

.about_technologies__icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about_technologies__icons div {
  width: 10vw;
  text-align: center;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.about_technologies__icons div * {
  display: block;
}

.about_technologies__icons svg {
  margin: auto;
  font-size: 48px;
}

@media (max-width: 425px) {
  .about-description__content {
    display: block;
  }

  .about-description .img-container {
    width: 70vw;
    height: 70vw;
    margin: auto;
  }

  .about_technologies__icons div {
    width: 20vw;
  }

  .about_technologies__icons span {
    margin: auto;
    font-size: 14px;
  }
}
