.projectDetailed-info {
  margin-bottom: 10vh;
}

.projectDetailed-carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectDetailed-carousel {
  position: relative;
  width: 65vw;
  overflow: hidden;
  margin: auto;
}

.projectDetailed-carousel__handles {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 70px;
}

.projectDetailed-carousel__handles:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgb(187, 186, 186));
}

.projectDetailed-carousel .imgsContainer {
  display: flex;
  width: 100%;
  transform: translateX(-0%);
}

.projectDetailed-carouselImg {
  width: 100%;
  flex-shrink: 0;
}

.projectDetailed-carouselImg img {
  width: 100%;
  border-radius: 5px;
}

.projectDetailed-tech__icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.projectDetailed-tech__icons div {
  text-align: center;
  flex-shrink: 0;
  margin: 20px;
  margin-left: 0;
}

.projectDetailed-tech__icons div * {
  display: block;
}

.projectDetailed-tech__icons svg {
  margin: auto;
  font-size: 48px;
}

.projectDetailed-info__links {
  margin-top: 10px;
}

.projectDetailed-info__links a {
  margin-right: 30px;
  text-decoration: underline;
}

.projectDetailed-info__links a:hover {
  filter: drop-shadow(0px 0px 4px rgb(187, 186, 186));
}

@media (max-width: 425px) {
  .projectDetailed h1 {
    font-size: 32px;
  }

  .projectDetailed-carousel__handles {
    font-size: 30px;
  }

  .projectDetailed-tech__icons div {
    width: 20vw;
  }

  .projectDetailed-info__links a {
    margin-right: 15px;
    text-decoration: underline;
  }
}
