.home-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 200px;
  font-size: 24px;
}

.home h1::after {
  content: "web developer";
  text-align: center;
  font-size: 30px;
}

.home-socials a:hover {
  filter: drop-shadow(0px 0px 10px white);
}

.home-link:hover {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .home h1::after {
    font-size: 20px;
  }

  .home-link {
    font-size: 12px;
  }
}
